Repository AlexFiliakov/iQuest, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, analytics, database, tests, ci, dependencies, performance, security

.github/labeler.yml:

# Add labels to PRs based on file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - README.md
      - '**/*.md'

ui:
  - changed-files:
    - any-glob-to-any-file:
      - src/ui/**
      - tests/ui/**

analytics:
  - changed-files:
    - any-glob-to-any-file:
      - src/analytics/**
      - tests/unit/test_*analytics*.py

database:
  - changed-files:
    - any-glob-to-any-file:
      - src/database.py
      - src/health_database.py
      - src/data_*.py
      - tests/unit/test_database*.py

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - conftest.py
      - pytest.ini

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - .pre-commit-config.yaml
      - Dockerfile
      - docker-compose.yml

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements*.txt
      - pyproject.toml
      - setup.py
      - setup.cfg

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*.py'
      - '**/*performance*.py'
      - '**/*cache*.py'
      - tests/performance/**

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*auth*.py'
      - '**/*security*.py'
      - .github/workflows/security.yml

fixing daily UI
  src/ui/daily_dashboard_widget.py
Labels: ui

fixing daily calendar ui
  src/ui/daily_dashboard_widget.py
  src/ui/styled_calendar_widget.py
Labels: ui

spec: fixing daily health metrics
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/G091_FIX_HEALTH_METRIC_CARDS.md
Labels: documentation

hotfix: division by 0 on empty days
  src/ui/charts/line_chart.py
Labels: ui

hotfix: divide by 0
  src/ui/charts/line_chart.py
Labels: ui

hotfix: health metrics list
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/GX091_FIX_HEALTH_METRIC_CARDS.md
  CLAUDE.md
  src/ui/daily_dashboard_widget.py
Labels: documentation, ui

hotfix: capture source in metrics cache
  .simone/04_GENERAL_TASKS/G092_CACHE_METRIC_SOURCE.md
Labels: documentation

test: fix failing test
  src/ui/anomaly_alert_card.py
  tests/unit/test_activity_timeline_insights.py
Labels: ui, tests

Complete task GX092: Add source name to cache architecture
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/GX092_CACHE_METRIC_SOURCE.md
Labels: documentation

update metric type caching
  src/analytics/cached_data_access.py
  src/analytics/cached_metrics_access.py
  src/analytics/summary_calculator.py
  src/database.py
  src/ui/daily_dashboard_widget.py
  src/ui/import_worker.py
  src/ui/monthly_dashboard_widget.py
  src/ui/weekly_dashboard_widget.py
Labels: ui, analytics, database, performance

update S06 task specs
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T01_S06_database_schema_implementation.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T02_S06_journal_editor_component.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T03_S06_save_edit_functionality.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T04_S06_auto_save_implementation.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T05_S06_search_functionality.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T06_S06_journal_indicators.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T07_S06_export_functionality.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T08_S06_journal_history_view.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T09_S06_journal_tab_integration.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T10_S06_testing_and_documentation.md
Labels: documentation

list of commands
  specs/Apple Health Monitor Project Spec.txt
Labels: none

Mark T01_S06 as Done - database schema already implemented
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T01_S06_database_schema_implementation.md
Labels: documentation

Implement custom SegmentedControl for journal editor
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T02_S06_journal_editor_component.md
  specs/Apple Health Monitor Project Spec.txt
  src/ui/journal_editor_widget.py
  src/ui/style_manager.py
  tests/unit/test_journal_editor.py
Labels: documentation, ui, tests

Complete T03_S06 - Implement save/edit journal functionality
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T03_S06_save_edit_functionality.md
  src/data_access.py
  src/database.py
  src/models.py
  src/ui/bar_chart_component.py
  src/ui/conflict_resolution_dialog.py
  src/ui/coverage_integration.py
  src/ui/data_availability_indicator.py
  src/ui/journal_editor_widget.py
  src/ui/journal_manager.py
  src/ui/style_manager.py
  src/ui/toast_notification.py
  src/utils/error_handler.py
Labels: documentation, ui, database

Complete T04_S06 - Implement auto-save functionality
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T04_S06_auto_save_implementation.md
  T04_S06_IMPLEMENTATION_SUMMARY.md
  src/database.py
  src/ui/auto_save_manager.py
  src/ui/auto_save_settings_panel.py
  src/ui/draft_recovery_dialog.py
  src/ui/journal_editor_widget.py
  src/ui/save_status_indicator.py
  test_auto_save.py
  test_auto_save_demo.py
  test_auto_save_integration.py
  tests/performance/test_auto_save_performance.py
  tests/unit/test_auto_save_manager.py
Labels: documentation, ui, database, tests, performance

Complete T05_S06 - Implement journal search functionality
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T05_S06_search_functionality.md
  src/analytics/journal_search_engine.py
  src/database.py
  src/ui/journal_search_bar.py
  src/ui/journal_search_results.py
  src/ui/journal_search_widget.py
  tests/unit/test_journal_search.py
Labels: documentation, ui, analytics, database, tests

Complete T06_S06 - Implement journal entry indicators
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T06_S06_journal_indicators.md
  T06_S06_IMPLEMENTATION_SUMMARY.md
  docs/journal_indicators_integration_guide.md
  src/analytics/journal_indicator_service.py
  src/ui/charts/calendar_heatmap_enhanced.py
  src/ui/journal_indicator.py
  src/ui/journal_indicator_mixin.py
  tests/unit/test_journal_indicators.py
Labels: documentation, ui, analytics, tests

Complete T07_S06 - Implement journal export functionality (JSON/PDF)
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T07_S06_export_functionality.md
  src/data_access.py
  src/exporters/__init__.py
  src/exporters/base_exporter.py
  src/exporters/json_exporter.py
  src/exporters/pdf_exporter.py
  src/ui/journal_editor_widget.py
  src/ui/journal_export_dialog.py
  tests/unit/test_journal_exporters.py
Labels: documentation, ui, database, tests

Complete T08_S06 - Implement journal history view
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T08_S06_journal_history_view.md
  src/exporters/base_exporter.py
  src/exporters/json_exporter.py
  src/ui/journal_history_widget.py
  src/ui/journal_manager.py
  src/ui/journal_tab_widget.py
  src/ui/main_window.py
  tests/unit/test_journal_history.py
Labels: documentation, ui, tests

Complete T09_S06 - Implement journal tab integration
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T09_S06_journal_tab_integration.md
  src/ui/main_window.py
  test_journal_tab.py
Labels: documentation, ui

Clean up deleted sprint files
  .simone/03_SPRINTS/S08_M01_Gamification/S08_sprint_meta.md
  .simone/03_SPRINTS/S08_M01_Gamification/T01_S08_character_system.md
  .simone/03_SPRINTS/S08_M01_Gamification/T02_S08_class_system.md
  .simone/03_SPRINTS/S08_M01_Gamification/T03_S08_level_progression.md
  .simone/03_SPRINTS/S08_M01_Gamification/T04_S08_skill_tree.md
  .simone/03_SPRINTS/S08_M01_Gamification/T05_S08_item_system.md
  .simone/03_SPRINTS/S08_M01_Gamification/T06_S08_gamification_ui.md
  .simone/03_SPRINTS/S08_M01_Gamification/T07_S08_achievements.md
  .simone/03_SPRINTS/S08_M01_Gamification/T08_S08_game_persistence.md
  .simone/03_SPRINTS/S08_M01_Gamification/T09_S08_humor_content.md
  .simone/03_SPRINTS/S08_M01_Gamification/T10_S08_integration_testing.md
  .simone/03_SPRINTS/S08_M01_Gamification/T11_S08_skill_tree_ui.md
  .simone/03_SPRINTS/S08_M01_Gamification/T12_S08_quest_system.md
  .simone/03_SPRINTS/S08_M01_Gamification/T13_S08_boss_battles.md
  .simone/03_SPRINTS/S08_M01_Gamification/T14_S08_status_effects.md
  .simone/03_SPRINTS/S08_M01_Gamification/T15_S08_streak_system.md
  .simone/03_SPRINTS/S08_M01_Gamification/T16_S08_easter_eggs.md
  .simone/03_SPRINTS/S08_M01_Gamification/T17_S08_npc_interactions.md
  .simone/03_SPRINTS/S09_M01_Packaging/S09_sprint_meta.md
  test_journal_tab.py
Labels: documentation

reorder sprints
  .simone/03_SPRINTS/S07_M01_Packaging/S07_sprint_meta.md
  .simone/03_SPRINTS/S10_M01_Gamification/S10_sprint_meta.md
  .simone/03_SPRINTS/S10_M01_Gamification/T01_S10_character_system.md
  .simone/03_SPRINTS/S10_M01_Gamification/T02_S10_class_system.md
  .simone/03_SPRINTS/S10_M01_Gamification/T03_S10_level_progression.md
  .simone/03_SPRINTS/S10_M01_Gamification/T04_S10_skill_tree.md
  .simone/03_SPRINTS/S10_M01_Gamification/T05_S10_item_system.md
  .simone/03_SPRINTS/S10_M01_Gamification/T06_S10_gamification_ui.md
  .simone/03_SPRINTS/S10_M01_Gamification/T07_S10_achievements.md
  .simone/03_SPRINTS/S10_M01_Gamification/T08_S10_game_persistence.md
  .simone/03_SPRINTS/S10_M01_Gamification/T09_S10_humor_content.md
  .simone/03_SPRINTS/S10_M01_Gamification/T10_S10_integration_testing.md
  .simone/03_SPRINTS/S10_M01_Gamification/T11_S10_skill_tree_ui.md
  .simone/03_SPRINTS/S10_M01_Gamification/T12_S10_quest_system.md
  .simone/03_SPRINTS/S10_M01_Gamification/T13_S10_boss_battles.md
  .simone/03_SPRINTS/S10_M01_Gamification/T14_S10_status_effects.md
  .simone/03_SPRINTS/S10_M01_Gamification/T15_S10_streak_system.md
  .simone/03_SPRINTS/S10_M01_Gamification/T16_S10_easter_eggs.md
  .simone/03_SPRINTS/S10_M01_Gamification/T17_S10_npc_interactions.md
Labels: documentation

Complete T10_S06 - Add comprehensive testing and documentation for journal feature
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T10_S06_testing_and_documentation.md
  docs/api/journal.rst
  docs/diagrams/journal_architecture.md
  docs/user/journal_guide.md
  src/exporters/pdf_exporter.py
  src/ui/journal_search_bar.py
  src/ui/journal_search_results.py
  src/ui/journal_search_widget.py
  tests/journal/__init__.py
  tests/journal/conftest.py
  tests/journal/unit/test_summary.md
  tests/unit/test_journal_manager.py
  tests/unit/test_journal_search_bar.py
  tests/unit/test_journal_search_widget.py
  tests/unit/test_journal_tab_widget.py
Labels: documentation, ui, tests

Mark Sprint S06_M01_Journal_Feature as complete
  .simone/03_SPRINTS/S06_M01_Journal_Feature/S06_sprint_meta.md
Labels: documentation

Planned sprint 7: executable installer
  .simone/03_SPRINTS/S07_M01_Packaging/S07_sprint_meta.md
  .simone/03_SPRINTS/S07_M01_Packaging/T01_S07_pyinstaller_configuration.md
  .simone/03_SPRINTS/S07_M01_Packaging/T02_S07_build_automation.md
  .simone/03_SPRINTS/S07_M01_Packaging/T03_S07_distribution_formats.md
  .simone/03_SPRINTS/S07_M01_Packaging/T04_S07_code_signing.md
  .simone/03_SPRINTS/S07_M01_Packaging/T05_S07_auto_update_system.md
  .simone/03_SPRINTS/S07_M01_Packaging/T06_S07_user_documentation.md
  .simone/03_SPRINTS/S07_M01_Packaging/T07_S07_troubleshooting_guide.md
  .simone/03_SPRINTS/S07_M01_Packaging/T08_S07_testing_validation.md
  .simone/03_SPRINTS/S07_M01_Packaging/T09_S07_release_preparation.md
Labels: documentation

chore: get GitHub actions to run
  .github/workflows/analytics-test-suite.yml
Labels: ci

chore: update requirements.txt docs
  =6.5.0
  requirements-ml.txt
  requirements-test.txt
Labels: dependencies

update requirements
  requirements-ml.txt
  requirements-test.txt
  requirements.txt
Labels: dependencies

broken app, but tests pass
  WSL_SETUP.md
  pytest.ini
  requirements.txt
  run_app_wsl.py
  run_pytest_safe.py
  src/config.py
  src/database.py
  src/main.py
  src/ui/daily_dashboard_widget.py
  src/ui/import_progress_dialog.py
  src/ui/journal_history_widget.py
  src/ui/journal_tab_widget.py
  src/ui/loading_screen.py
  src/ui/main_window.py
  src/ui/weekly_dashboard_widget.py
  test_qt.py
  tests/conftest.py
  tests/journal/__init__.py
  tests/journal/conftest.py
  tests/journal/unit/test_summary.md
  tests/performance/test_auto_save_performance.py
  tests/pytest_failure_summaries_1.txt
  tests/pytest_failure_summaries_1_rev.txt
  tests/pytest_failure_summaries_1_rnd_a.txt
  tests/pytest_failure_summaries_1_rnd_b.txt
  tests/pytest_failure_summaries_1_rnd_c.txt
  tests/pytest_failure_summaries_cov.txt
  tests/unit/test_journal_history.py
Labels: documentation, ui, database, tests, dependencies, performance

UI loads now
  src/main.py
  src/ui/loading_screen.py
  src/ui/main_window.py
Labels: ui

fix tab order and Weekly tab height
  src/ui/main_window.py
  src/ui/weekly_dashboard_widget.py
Labels: ui

add minimal journal tab widget and update main window to support it
  src/ui/journal_tab_minimal.py
  src/ui/journal_tab_widget.py
  src/ui/main_window.py
  src/ui/style_manager.py
Labels: ui

feat: configure PyInstaller for standalone executable packaging
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S07_M01_Packaging/T01_S07_pyinstaller_configuration.md
  BUILD_README.md
  assets/icon.ico
  assets/icon_128x128.png
  assets/icon_16x16.png
  assets/icon_256x256.png
  assets/icon_32x32.png
  assets/icon_48x48.png
  assets/icon_64x64.png
  build.py
  src/main.py
Labels: documentation

feat(T02_S07): implement comprehensive build automation and CI/CD integration [YOLO]
  .github/workflows/build-release.yml
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S07_M01_Packaging/T02_S07_build_automation.md
  .simone/03_SPRINTS/S07_M01_Packaging/TX01_S07_pyinstaller_configuration.md
  LICENSE.txt
  README.md
  build.py
  build_config.json
  docs/build_process.md
  scripts/extract_version.py
  test_build.py
Labels: documentation, ci

feat(T03_S07): implement distribution formats with NSIS installer and build enhancements [YOLO]
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S07_M01_Packaging/T02_S07_build_automation.md
  .simone/03_SPRINTS/S07_M01_Packaging/T03_S07_distribution_formats.md
  BUILD_INSTRUCTIONS.md
  assets/create_installer_graphics.py
  assets/installer_welcome.bmp
  build.py
  installer.nsi
  src/config.py
Labels: documentation

feat(T06_S07): implement partial user documentation framework [YOLO]
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S07_M01_Packaging/T06_S07_user_documentation.md
  docs/user/FEATURES_OVERVIEW.md
  docs/user/INSTALLATION_GUIDE.md
  docs/user/QUICK_START_GUIDE.md
  docs/user/TROUBLESHOOTING_GUIDE.md
  docs/user/USER_GUIDE.md
  docs/user/index.html
  docs/user/index.md
Labels: documentation

feat(T07_S07): create comprehensive installation troubleshooting guide for Windows executable [YOLO]
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S07_M01_Packaging/T07_S07_troubleshooting_guide.md
  .simone/03_SPRINTS/S07_M01_Packaging/TX02_S07_build_automation.md
  .simone/03_SPRINTS/S07_M01_Packaging/TX03_S07_distribution_formats.md
  docs/user/INSTALLATION_TROUBLESHOOTING_GUIDE.md
  docs/user/TROUBLESHOOTING_FLOWCHARTS.md
Labels: documentation

feat(T09_S07): complete release preparation with v1.0.0 release documentation and support infrastructure [YOLO]
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .simone/03_SPRINTS/S07_M01_Packaging/T09_S07_release_preparation.md
  .simone/03_SPRINTS/S07_M01_Packaging/TX07_S07_troubleshooting_guide.md
  ANNOUNCEMENT_TEMPLATES.md
  CHANGELOG.md
  LAUNCH_COMMUNICATIONS_PLAN.md
  RELEASE_CHECKLIST_TEMPLATE.md
  RELEASE_NOTES_v1.0.0.md
  RELEASE_PROCESS.md
  SUPPORT.md
  docs/DOWNLOADS.md
  docs/FEEDBACK_GUIDE.md
  src/ui/feedback_dialog.py
  src/version.py
Labels: documentation, ui, ci

feat(T08_S07): implement comprehensive packaging testing infrastructure with automated validation [YOLO]
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S07_M01_Packaging/T08_S07_testing_validation.md
  .simone/03_SPRINTS/S07_M01_Packaging/TX09_S07_release_preparation.md
  tests/packaging/README.md
  tests/packaging/ci_packaging_tests.py
  tests/packaging/packaging_issues_template.md
  tests/packaging/packaging_test_checklist.md
  tests/packaging/performance_benchmarks.py
  tests/packaging/setup_test_environment.py
  tests/packaging/test_packaged_app.py
  tests/packaging/validate_test_setup.py
Labels: documentation, tests, performance
