Repository AlexFiliakov/iQuest, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, analytics, database, tests, ci, dependencies, performance, security

.github/labeler.yml:

# Add labels to PRs based on file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - README.md
      - '**/*.md'

ui:
  - changed-files:
    - any-glob-to-any-file:
      - src/ui/**
      - tests/ui/**

analytics:
  - changed-files:
    - any-glob-to-any-file:
      - src/analytics/**
      - tests/unit/test_*analytics*.py

database:
  - changed-files:
    - any-glob-to-any-file:
      - src/database.py
      - src/health_database.py
      - src/data_*.py
      - tests/unit/test_database*.py

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - conftest.py
      - pytest.ini

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - .pre-commit-config.yaml
      - Dockerfile
      - docker-compose.yml

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements*.txt
      - pyproject.toml
      - setup.py
      - setup.cfg

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*.py'
      - '**/*performance*.py'
      - '**/*cache*.py'
      - tests/performance/**

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*auth*.py'
      - '**/*security*.py'
      - .github/workflows/security.yml

docs: add CLAUDE.md AI assistant reference and update README
  CLAUDE.md
  README.md
Labels: documentation

refactor: enhance UI package imports and test infrastructure
  .simone/01_SPECS/MONTHLY_TAB.md
  ERASE_ALL_DATA_FEATURE.md
  ERASE_DATA_BUG_FIX.md
  SCRIPT_REORGANIZATION_SUMMARY.md
  fix_test_timeouts.py
  pytest.ini
  src/ui/accessibility/__init__.py
  src/ui/charts/export/__init__.py
  src/ui/charts/interactions/__init__.py
  src/ui/dashboards/__init__.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/performance/test_dashboard_performance.py
  tests/performance/test_visualization_benchmarks.py
  tests/pytest_failure_summaries_1_rev.txt
  tests/test_data_generator.py
Labels: documentation, ui, tests, performance

chore: updated test requirements
  requirements-test.txt
Labels: dependencies

docs: update architecture documentation and project specs
  .claude/commands/simone/mermaid.md
  .simone/01_SPECS/MONTHLY_TAB.md
  .simone/01_SPECS/RECORDS.md
  docs/architecture/README.md
  docs/architecture/class_diagrams/core_classes.md
  docs/architecture/class_diagrams/data_models.md
  docs/architecture/class_diagrams/service_layer.md
  docs/architecture/context_diagram.md
  docs/architecture/module_overview.md
  specs/Apple Health Monitor Project Spec.txt
Labels: documentation

feat: improve analytics calculations and UI components
  src/analytics/__init__.py
  src/analytics/advanced_trend_engine.py
  src/analytics/cache_manager.py
  src/analytics/comparison_overlay_calculator.py
  src/analytics/daily_metrics_calculator.py
  src/ui/accessibility/wcag_validator.py
  src/ui/bar_chart_component.py
  src/ui/charts/__init__.py
  src/ui/charts/wsj_health_visualization_suite.py
  src/ui/import_progress_dialog.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/trophy_case_widget.py
  src/xml_streaming_processor.py
Labels: ui, analytics, performance

Fix performance benchmark tests to properly use calculator APIs
  tests/test_performance_benchmarks.py
Labels: tests, performance

test: update test infrastructure and failure summaries
  pytest.ini
  tests/integration/test_config_tab_integration.py
  tests/integration/test_import_flow.py
  tests/performance/test_calculator_benchmarks.py
  tests/performance/test_database_benchmarks.py
  tests/performance/test_visualization_benchmarks.py
  tests/pytest_failure_summaries_1.txt
  tests/pytest_failure_summaries_1_rev.txt
  tests/pytest_failure_summaries_cov.txt
  tests/run_tests.py
  tests/unit/test_accessibility_compliance.py
  tests/unit/test_comparative_analytics.py
  tests/unit/test_comparison_overlay_calculator.py
  tests/unit/test_main.py
  tests/unit/test_view_transitions.py
Labels: analytics, tests, performance

docs: update project spec with current test commands
  specs/Apple Health Monitor Project Spec.txt
Labels: none

document sample data generation methodology
  .simone/06_NOTES/SAMPLE_DATA_GEN.md
Labels: documentation

gitignore
  .gitignore
Labels: none

fix tests
  tests/generators/test_data_generator.py
  tests/generators/test_data_generator_basic.py
  tests/integration/test_chaos_scenarios.py
  tests/performance/test_cache_performance.py
  tests/performance/test_performance_benchmarks.py
  tests/pytest_failure_summaries_1_rev_cont.txt
  tests/pytest_failure_summaries_1_rev_unit.txt
  tests/pytest_failure_summaries_1_rev_unit_continue.txt
  tests/pytest_failure_summaries_1_rev_unit_skip.txt
  tests/pytest_failure_summaries_remaining.txt
  tests/pytest_failure_summaries_remaining2.txt
  tests/unit/test_mock_compliance.py
  tests/unit/test_statistics_methods.py
  tests/visual/test_visual_regression.py
Labels: tests, performance

fix UI bugs
  specs/Apple Health Monitor Project Spec.txt
  src/database.py
  src/ui/core_health_dashboard.py
  src/ui/main_window.py
  tests/integration/test_import_flow.py
  tests/pytest_failure_summaries_cov.txt
Labels: ui, database, tests

ui debugging
  .simone/04_GENERAL_TASKS/G084_AGGREGATE_DATA_DISPLAY.md
  src/ui/main_window.py
  src/xml_streaming_processor.py
  tests/pytest_failure_summaries_1.txt
  tests/pytest_failure_summaries_1_rev.txt
Labels: documentation, ui, tests

ui debugging
  .simone/04_GENERAL_TASKS/G084_AGGREGATE_DATA_DISPLAY.md
  specs/Apple Health Monitor Project Spec.txt
  src/ui/charts/calendar_heatmap.py
  src/ui/charts/line_chart.py
  src/ui/configuration_tab.py
  src/ui/main_window.py
  tests/conftest.py
  tests/integration/test_xml_streaming_integration.py
  tests/performance/test_dashboard_performance.py
  tests/performance/test_performance_benchmarks.py
  tests/pytest_failure_summaries_1.txt
  tests/pytest_failure_summaries_1_rev.txt
  tests/pytest_failure_summaries_cov.txt
  tests/visual/test_visual_regression.py
Labels: documentation, ui, tests, performance

fix: resolve critical data display pipeline infrastructure issues
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/G084_AGGREGATE_DATA_DISPLAY.md
  src/data_access.py
  src/ui/configuration_tab.py
  src/ui/main_window.py
Labels: documentation, ui, database

feat: enhance temporal anomaly detector with ensemble context
  src/analytics/temporal_anomaly_detector.py
Labels: analytics

fix: enhance chart components and monthly dashboard widget
  src/ui/charts/calendar_heatmap.py
  src/ui/charts/line_chart.py
  src/ui/monthly_dashboard_widget.py
Labels: ui

test: comprehensive test infrastructure improvements
  tests/helpers/color_helpers.py
  tests/integration/test_config_tab_integration.py
  tests/unit/test_accessibility_compliance.py
  tests/unit/test_comparative_analytics.py
  tests/unit/test_comparison_overlay_calculator.py
  tests/unit/test_daily_dashboard_navigation.py
  tests/unit/test_temporal_anomaly_detector.py
  tests/unit/test_week_over_week_trends.py
  tests/unit/test_weekly_metrics_calculator.py
  tests/unit/test_xml_streaming_processor.py
  tests/visual/baseline_manager.py
  tests/visual/image_comparison.py
  tests/visual/test_visual_regression.py
  tests/visual/visual_test_base.py
  tests/visual/visualization_testing_framework.py
Labels: analytics, tests

docs: update project manifest and create test fix task
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/S06_sprint_meta.md
  .simone/04_GENERAL_TASKS/G085_FIX_BROKEN_TESTS.md
  .simone/04_GENERAL_TASKS/GX084_AGGREGATE_DATA_DISPLAY.md
Labels: documentation

fix tests
  specs/Apple Health Monitor Project Spec.txt
  tests/pytest_failure_summaries_1.txt
  tests/pytest_failure_summaries_1_rev.txt
  tests/pytest_failure_summaries_cov.txt
  tests/pytest_failure_summaries_unit.txt
  tests/results/MockComponent_20250530_113703.json
  tests/results/MockComponent_20250530_113838.json
  tests/results/MockComponent_20250530_114126.json
  tests/results/MockComponent_20250530_114248.json
  tests/results/MockComponent_20250530_114422.json
  tests/results/MockComponent_20250530_114558.json
  tests/visual/baselines/linux_debian/framework_validation.png
  tests/visual/baselines/linux_debian/line_chart_heart_rate.png
  tests/visual/baselines/linux_debian/line_chart_steps.png
  unit_test_results_current.txt
Labels: tests

fixing tests
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/GX085_FIX_BROKEN_TESTS.md
  .simone/06_NOTES/TEST_NEXT_STEPS.md
  tests/performance/test_performance_benchmarks.py
  tests/unit/test_peer_group_comparison.py
  tests/unit/test_personal_records_tracker.py
Labels: documentation, tests, performance

test fix
  src/ui/configuration_tab.py
Labels: ui

ui debugging
  UI_SPECS.md
  demo_calendar_improvements.py
  src/main.py
  src/ui/adaptive_date_edit.py
  src/ui/charts/line_chart.py
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/enhanced_date_edit.py
  src/ui/monthly_dashboard_widget.py
  src/ui/styled_calendar_widget.py
  src/utils/logging_config.py
  test_calendar_popup.py
Labels: documentation, ui

additional specs
  .simone/01_SPECS/METRIC_SPEC.md
  .simone/01_SPECS/MONTHLY_SUMMARY_METRICS.md
Labels: documentation

fixing tests
  specs/Apple Health Monitor Project Spec.txt
  src/analytics/cache_background_refresh.py
  src/ui/configuration_tab.py
  tests/pytest_failure_summaries_cov.txt
Labels: ui, analytics, tests, performance

test: add pytest-random-order and test execution logs
  requirements-test.txt
  tests/pytest_failure_summaries_1_rnd_a.txt
  tests/pytest_failure_summaries_1_rnd_b.txt
  tests/pytest_failure_summaries_1_rnd_c.txt
  tests/pytest_failure_summaries_1_rnd_d.txt
Labels: tests, dependencies

feat: enhance cache manager with import summary caching
  src/analytics/cache_manager.py
  src/analytics/cached_data_access.py
Labels: analytics, performance

fix: correct analytics calculator constructor parameters
  src/analytics/goal_management_system.py
  src/analytics/monthly_context_provider.py
  src/analytics/seasonal_pattern_analyzer.py
Labels: analytics

feat: add centralized summary calculator with tests
  src/analytics/summary_calculator.py
  tests/unit/test_summary_calculator.py
Labels: analytics, tests

test: fix component tests for improved reliability
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_visualization_benchmarks.py
  tests/ui/test_component_factory.py
  tests/ui/test_consolidated_widgets.py
  tests/ui/test_import_dialogs.py
  tests/ui/test_summary_cards.py
  tests/unit/test_daily_dashboard_navigation.py
  tests/unit/test_data_loader_validation.py
  tests/unit/test_goal_management.py
  tests/unit/test_health_score_calculator.py
  tests/unit/test_main.py
  tests/unit/test_monthly_context_provider.py
  tests/unit/test_monthly_dashboard_widget.py
  tests/unit/test_optimized_analytics_engine.py
  tests/unit/test_reactive_data_binding.py
  tests/unit/test_table_components.py
  tests/visual/visualization_testing_framework.py
Labels: ui, analytics, tests, performance

refactor: update UI components and data processing
  src/data_loader.py
  src/ui/charts/chart_config.py
  src/ui/comparison_overlay_widget.py
  src/ui/component_factory.py
  src/ui/daily_dashboard_widget.py
  src/ui/import_progress_dialog.py
  src/ui/import_worker.py
  src/ui/reactive_data_binding.py
  src/ui/reactive_data_transformations.py
Labels: ui, database

docs: update project specifications and add caching task
  .simone/04_GENERAL_TASKS/G086_CACHE_ON_IMPORT.md
  G086_CACHE_ON_IMPORT.md
  specs/Apple Health Monitor Project Spec.txt
Labels: documentation

gitignore
  .gitignore
Labels: none

feat: implement splash loading screen with progress tracking
  src/main.py
  src/ui/__init__.py
  src/ui/daily_dashboard_widget.py
  src/ui/loading_screen.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/weekly_dashboard_widget.py
  test_loading_screen.py
Labels: ui

docs: update task tracking and complete cache-on-import task
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/G086_CACHE_ON_IMPORT.md
  .simone/04_GENERAL_TASKS/G087_TESTING_IMPLEMENTATION.md
  .simone/04_GENERAL_TASKS/GX086_CACHE_ON_IMPORT.md
Labels: documentation

docs: update tab specifications with cache-on-import details
  .simone/01_SPECS/DAILY_TAB.md
  .simone/01_SPECS/METRIC_SPEC.md
  .simone/01_SPECS/MONTHLY_TAB.md
  .simone/01_SPECS/RECORDS.md
  .simone/01_SPECS/WEEKLY_TAB.md
Labels: documentation

docs: add comprehensive mermaid architecture diagrams
  .claude/commands/simone/mermaid.md
  docs/architecture/README.md
  docs/architecture/class_diagrams/core_classes.md
  docs/architecture/class_diagrams/data_models.md
  docs/architecture/class_diagrams/service_layer.md
  docs/architecture/context_diagram.md
  docs/architecture/module_overview.md
  docs/architecture/overview.md
Labels: documentation

refactor: move calendar demo to examples directory
  examples/calendar_popup_demo.py
  specs/Apple Health Monitor Project Spec.txt
Labels: none

test: configure pytest infrastructure and shared fixtures
  pytest.ini
  tests/conftest.py
  tests/pytest_failure_summaries_cov.txt
Labels: tests

update mermaid diagrams
  .simone/10_STATE_OF_PROJECT/2025-05-31-over-engineered-mess.md
  docs/architecture/README.md
  docs/architecture/class_diagrams/service_layer.md
  docs/architecture/context_diagram.md
  docs/architecture/module_overview.md
Labels: documentation
