Repository AlexFiliakov/iQuest, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, analytics, database, tests, ci, dependencies, performance, security

mermaid diagrams
  docs/architecture/module_overview.md
Labels: documentation

feat: add memory limit validation to XMLStreamingProcessor
  specs/Apple Health Monitor Project Spec.txt
  src/analytics/cache_manager.py
  src/analytics/cached_calculators.py
  src/analytics/data_source_protocol.py
  src/analytics/personal_records_tracker.py
  src/config.py
  src/data_loader.py
  src/database.py
  src/ui/configuration_tab.py
  src/ui/import_worker.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/weekly_dashboard_widget.py
  src/xml_streaming_processor.py
  test_import_rollback.py
  tests/unit/test_xml_streaming_processor_validation.py
Labels: ui, analytics, database, tests, performance

debugging
  src/config.py
  src/ui/import_worker.py
  src/ui/main_window.py
  src/xml_streaming_processor.py
  tests/unit/test_xml_streaming_processor_memory.py
  tests/unit/test_xml_streaming_processor_validation.py
Labels: ui, tests

debugging
  src/analytics/cache_manager.py
  src/analytics/summary_calculator.py
  src/ui/import_worker.py
  src/ui/main_window.py
  src/ui/weekly_dashboard_widget.py
Labels: ui, analytics, performance

spec: cache
  .simone/01_SPECS/ANALYTICS_CACHE_PROCESS_SPEC.md
Labels: documentation

spec
  specs/Apple Health Monitor Project Spec.txt
Labels: none

feat: add source tracking to personal records and improve data source visualization
  src/analytics/personal_records_tracker.py
  src/database.py
  src/ui/comparative_visualization.py
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/health_insights_widget.py
  src/ui/monthly_dashboard_widget.py
  src/ui/trophy_case_widget.py
  src/ui/weekly_dashboard_widget.py
Labels: ui, analytics, database

feat: add screenshot utility for capturing monitors via PowerShell
  take_screenshot.py
Labels: none

fix: implement cache system and remove refresh UI elements
  .simone/04_GENERAL_TASKS/G088_CACHE_METRICS.md
  METRIC_SOURCE_VERIFICATION_CHECKLIST.md
  METRIC_SPECIFIC_INSIGHTS.md
  cache_status_demo.py
  fix_cache_keys.py
  src/analytics/cache_background_refresh.py
  src/analytics/cache_manager.py
  src/analytics/cached_calculators.py
  src/database.py
  src/ui/charts/annotated_chart_widget.py
  src/ui/correlation_matrix_widget.py
  src/ui/daily_dashboard_widget.py
  src/ui/health_insights_widget.py
  src/ui/import_worker.py
  src/ui/main_window.py
  src/ui/table_components.py
  src/ui/trophy_case_widget.py
  test_cache_monitoring.py
  test_trophy_source_filter.py
Labels: documentation, ui, analytics, database, performance

docs: update project manifest and documentation
  .simone/00_PROJECT_MANIFEST.md
  CLAUDE.md
  specs/Apple Health Monitor Project Spec.txt
Labels: documentation

screenshots
  take_screenshot.py
Labels: none

monitor function for claude
  CLAUDE.md
  take_screenshot.py
Labels: documentation

blog post
  blog_post.md
Labels: documentation

bug fixes
  src/analytics/cached_calculators.py
  src/analytics/cached_data_access.py
  src/analytics/cached_metrics_access.py
  src/ui/accessibility/example_accessible_line_chart.py
  src/ui/coverage_integration.py
  src/ui/import_worker.py
  src/ui/main_window.py
  src/ui/month_over_month_demo.py
  test_cached_metrics.py
Labels: ui, analytics, performance

feat: Improve empty state design for calendar heatmap
  analytics_cache.db-shm
  analytics_cache.db-wal
  capture_ui_demo.py
  capture_ui_screenshot.py
  specs/Apple Health Monitor Project Spec.txt
  src/analytics/cached_calculators.py
  src/ui/charts/calendar_heatmap.py
  src/ui/empty_state_widget.py
  src/ui/main_window.py
Labels: ui, analytics, performance

feat: Add spacing system and improved monthly dashboard layout
  src/ui/monthly_dashboard_improved.py
  src/ui/style_manager.py
Labels: ui

feat: Create improved configuration tab with better layout
  src/ui/configuration_tab_improved.py
Labels: ui

feat: Improve UI visual hierarchy and accessibility
  analytics_cache.db-shm
  analytics_cache.db-wal
  src/analytics/cache_manager.py
  src/analytics/cached_calculators.py
  src/ui/charts/calendar_heatmap.py
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/style_manager.py
  src/ui/summary_cards.py
Labels: ui, analytics, performance

feat: Enhanced calendar heatmap colors and global typography
  src/ui/charts/calendar_heatmap.py
  src/ui/style_manager.py
Labels: ui

feat: Implement high-priority UI improvements
  demo_ui_improvements.py
  src/ui/configuration_tab_improved.py
  src/ui/style_manager.py
Labels: ui

remove blog post
  blog_post.md
Labels: documentation

ui debugging
  analytics_cache_temp.db-shm
  analytics_cache_temp.db-wal
  demo_ui_improvements.py
  demos/README.md
  demos/example_accessible_line_chart.py
  demos/line_chart_demo.py
  demos/month_over_month_demo.py
  demos/visualization_example.py
  src/analytics/cache_manager.py
  src/database.py
  src/ui/daily_dashboard_widget.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/trophy_case_widget.py
  src/ui/weekly_dashboard_widget.py
Labels: documentation, ui, analytics, database, performance

gitignore
  .gitignore
  analytics_cache_temp.db-shm
  analytics_cache_temp.db-wal
Labels: none

Fix daily dashboard timeline integration issues
  src/ui/daily_dashboard_widget.py
Labels: ui

monthly debugging
  src/ui/monthly_dashboard_widget.py
  test_monthly_debug.py
Labels: ui

Monthly tab works!
  src/ui/monthly_dashboard_widget.py
Labels: ui

ui debugging
  src/ui/daily_dashboard_widget.py
Labels: ui

daily UI improvement
  src/ui/activity_timeline_component.py
  src/ui/daily_dashboard_widget.py
Labels: ui

ui debugging
  specs/Apple Health Monitor Project Spec.txt
  src/ui/activity_timeline_component.py
  src/ui/main_window.py
  src/ui/view_transitions.py
Labels: ui

spec: improving daily activity timeline
  .simone/01_SPECS/ACTIVITY_TIMELINE.md
Labels: documentation

spec: activity timeline
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/G089_ACTIVITY_TIMELINE.md
Labels: documentation

fixing Day Tab
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/G089_ACTIVITY_TIMELINE.md
  demo_activity_timeline_insights.py
  examples/dashboard_demo.py
  specs/Apple Health Monitor Project Spec.txt
  src/ui/activity_heatmap_widget.py
  src/ui/activity_timeline_component.py
  src/ui/adaptive_time_range_selector.py
  src/ui/anomaly_alert_card.py
  src/ui/charts/pyqtgraph_chart_factory.py
  src/ui/charts/shareable_dashboard.py
  src/ui/charts/wsj_health_visualization_suite.py
  src/ui/comparative_visualization.py
  src/ui/configuration_tab.py
  src/ui/correlation_matrix_widget.py
  src/ui/coverage_integration.py
  src/ui/daily_dashboard_widget.py
  src/ui/data_availability_indicator.py
  src/ui/export_dialog.py
  src/ui/goal_progress_widget.py
  src/ui/health_insights_widget.py
  src/ui/month_over_month_widget.py
  src/ui/monthly_dashboard_improved.py
  src/ui/monthly_dashboard_widget_modern.py
  src/ui/pattern_recognition_card.py
  src/ui/statistics_widget.py
  src/ui/summary_cards.py
  src/ui/timeline_insights_panel.py
  src/ui/trophy_case_widget.py
  tests/unit/test_activity_timeline_insights.py
Labels: documentation, ui, tests

debugging UI
  src/ui/activity_timeline_component.py
  src/ui/anomaly_alert_card.py
  src/ui/charts/export/html_export_builder.py
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/import_progress_dialog.py
  src/ui/loading_screen.py
  src/ui/main_window.py
  src/ui/timeline_insights_panel.py
  src/ui/weekly_dashboard_widget.py
Labels: ui

improved ui
  src/ui/activity_heatmap_widget.py
  src/ui/activity_timeline_component.py
  src/ui/anomaly_alert_card.py
  src/ui/pattern_recognition_card.py
  src/ui/timeline_insights_panel.py
Labels: ui

changed loading screen messages
  src/main.py
Labels: none

ui debugging
  src/ui/activity_heatmap_widget.py
  src/ui/timeline_insights_panel.py
Labels: ui

ui debugging
  src/ui/activity_heatmap_widget.py
  src/ui/timeline_insights_panel.py
Labels: ui

planning: background metrics processing with state refresh
  .simone/04_GENERAL_TASKS/G090_BACKGROUND_METRICS_PROCESSING.md
Labels: documentation

parallel process daily insights
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/G090_BACKGROUND_METRICS_PROCESSING.md
  src/analytics/timeline_analytics_worker.py
  src/ui/activity_heatmap_widget.py
  src/ui/activity_timeline_component.py
  src/ui/anomaly_alert_card.py
  src/ui/pattern_recognition_card.py
  src/ui/timeline_insights_panel.py
  test_background_timeline.py
Labels: documentation, ui, analytics

chore: resolve parallel processing task
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/GX090_BACKGROUND_METRICS_PROCESSING.md
Labels: documentation

.github/labeler.yml:

# Add labels to PRs based on file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - README.md
      - '**/*.md'

ui:
  - changed-files:
    - any-glob-to-any-file:
      - src/ui/**
      - tests/ui/**

analytics:
  - changed-files:
    - any-glob-to-any-file:
      - src/analytics/**
      - tests/unit/test_*analytics*.py

database:
  - changed-files:
    - any-glob-to-any-file:
      - src/database.py
      - src/health_database.py
      - src/data_*.py
      - tests/unit/test_database*.py

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - conftest.py
      - pytest.ini

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - .pre-commit-config.yaml
      - Dockerfile
      - docker-compose.yml

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements*.txt
      - pyproject.toml
      - setup.py
      - setup.cfg

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*.py'
      - '**/*performance*.py'
      - '**/*cache*.py'
      - tests/performance/**

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*auth*.py'
      - '**/*security*.py'
      - .github/workflows/security.yml
