Repository AlexFiliakov/iQuest, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, analytics, database, tests, ci, dependencies, performance, security

.github/labeler.yml:

# Add labels to PRs based on file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - README.md
      - '**/*.md'

ui:
  - changed-files:
    - any-glob-to-any-file:
      - src/ui/**
      - tests/ui/**

analytics:
  - changed-files:
    - any-glob-to-any-file:
      - src/analytics/**
      - tests/unit/test_*analytics*.py

database:
  - changed-files:
    - any-glob-to-any-file:
      - src/database.py
      - src/health_database.py
      - src/data_*.py
      - tests/unit/test_database*.py

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - conftest.py
      - pytest.ini

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - .pre-commit-config.yaml
      - Dockerfile
      - docker-compose.yml

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements*.txt
      - pyproject.toml
      - setup.py
      - setup.cfg

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*.py'
      - '**/*performance*.py'
      - '**/*cache*.py'
      - tests/performance/**

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*auth*.py'
      - '**/*security*.py'
      - .github/workflows/security.yml

docs: update project documentation and specifications
  README.md
  UI_BORDER_REMOVAL_SUMMARY.md
  WINDOWS_PANDAS_FIX.md
  docs/ci-cd-guide.md
  specs/Apple Health Monitor Project Spec.txt
Labels: documentation

feat: enhance analytics engine and UI components
  src/analytics/__init__.py
  src/analytics/background_trend_processor.py
  src/analytics/optimized_analytics_engine.py
  src/ui/charts/calendar_heatmap.py
  src/ui/comparative_visualization.py
  src/ui/configuration_tab.py
  src/ui/main_window.py
Labels: ui, analytics

test: improve test infrastructure and fix integration tests
  tests/integration/test_comparative_analytics_integration.py
  tests/performance/measure_test_performance.py
  tests/test_chaos_scenarios.py
Labels: tests, performance

test: add comprehensive test coverage and development utilities
  clean_test_artifacts.py
  tests/pytest_failure_summaries_1.txt
  tests/pytest_failure_summaries_1_rev.txt
  tests/pytest_failure_summaries_cov.txt
  tests/unit/test_calendar_heatmap.py
  tests/unit/test_data_loading_comprehensive.py
  tests/unit/test_optimized_analytics_engine.py
  tests/unit_test_results.txt
  tests/visual/test_calendar_direct.py
  tests/visual/test_calendar_fix.py
Labels: analytics, tests

test: finalize test suite with remaining fixtures and cleanup
  test_calendar_heatmap_issue.py.bak
  test_calendar_method.py.bak
  tests/pytest_failure_summaries_1_rev.txt
  tests/unit/test_calendar_heatmap_fixed.py
  tests/unit/test_error_handler_comprehensive.py.skip
  tests/unit/test_summary_cards_improved.py.skip
Labels: tests

new version of Simone
  .claude/commands/simone/code_review.md
  .claude/commands/simone/commit.md
  .claude/commands/simone/create_general_task.md
  .claude/commands/simone/create_sprint.md
  .claude/commands/simone/create_sprint_tasks.md
  .claude/commands/simone/create_sprints_from_milestone.md
  .claude/commands/simone/create_task.md
  .claude/commands/simone/do_task.md
  .claude/commands/simone/prime.md
  .claude/commands/simone/project_review.md
  .claude/commands/simone/yolo.md
  .simone/99_TEMPLATES/adr_template.md
  .simone/99_TEMPLATES/milestone_meta_template.md
  .simone/CLAUDE.MD
Labels: documentation

feat: improve UI scaling for standard monitors and fix calendar month display
  src/config.py
  src/main.py
  src/ui/charts/calendar_heatmap.py
Labels: ui

refactor: optimize UI layouts and styling for better space utilization
  src/ui/configuration_tab.py
  src/ui/main_window.py
  src/ui/style_manager.py
Labels: ui

refactor: optimize dashboard widgets for compact layout
  src/ui/data_story_widget.py
  src/ui/goal_progress_widget.py
  src/ui/health_score_visualizations.py
  src/ui/monthly_dashboard_widget.py
  src/ui/summary_cards.py
  src/ui/trophy_case_widget.py
Labels: ui

fix: handle NaN values properly in daily metrics calculations
  src/analytics/daily_metrics_calculator.py
Labels: analytics

docs: update project spec with current test status and UI improvements
  specs/Apple Health Monitor Project Spec.txt
Labels: none

test: update tests for UI changes and performance thresholds
  src/ui/charts/line_chart.py
  tests/performance/performance_dashboard.py
  tests/performance/test_visualization_benchmarks.py
  tests/unit/test_calendar_heatmap.py
Labels: ui, tests, performance

chore: update config
  .claude/settings.local.json
Labels: none

modify general tasks
  .simone/04_GENERAL_TASKS/GX05_create_windows_executable.md
  .simone/04_GENERAL_TASKS/GXUI_COMPONENT_EXAMPLES.md
  .simone/04_GENERAL_TASKS/GXUI_DESIGN_EVALUATION.md
  .simone/04_GENERAL_TASKS/GXUI_QUICK_IMPLEMENTATION_GUIDE.md
  .simone/04_GENERAL_TASKS/UI_DESIGN_ANALYSIS_AND_RECOMMENDATIONS.md
  .simone/04_GENERAL_TASKS/UI_IMPLEMENTATION_CODE_SAMPLES.md
  .simone/04_GENERAL_TASKS/UI_QUICK_FIXES_PRIORITY.md
Labels: documentation

feat: Modernize UI components and styling
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/GX064_visualization_performance_optimization.md
  .simone/04_GENERAL_TASKS/T083_modernize_color_palette_system.md
  .simone/04_GENERAL_TASKS/T084_modernize_button_form_styling.md
  .simone/04_GENERAL_TASKS/T085_redesign_tab_navigation.md
  .simone/04_GENERAL_TASKS/T086_implement_modern_shadow_system.md
  tests/visual/qt_config.py
Labels: documentation, tests

test tracking
  tests/pytest_failure_summaries_1_rev.txt
Labels: tests

moved UI notes to notes
  .simone/06_NOTES/UI_DESIGN_ANALYSIS_AND_RECOMMENDATIONS.md
  .simone/06_NOTES/UI_IMPLEMENTATION_CODE_SAMPLES.md
  .simone/06_NOTES/UI_QUICK_FIXES_PRIORITY.md
Labels: documentation

Task T083: Modernize color palette system
  .simone/04_GENERAL_TASKS/T083_modernize_color_palette_system.md
  COLOR_PALETTE_MODERNIZATION_SUMMARY.md
  src/ui/celebration_manager.py
  src/ui/charts/annotation_renderer.py
  src/ui/charts/base_chart.py
  src/ui/charts/calendar_heatmap.py
  src/ui/charts/chart_config.py
  src/ui/charts/export/export_models.py
  src/ui/charts/export/html_export_builder.py
  src/ui/charts/line_chart.py
  src/ui/style_manager.py
Labels: documentation, ui

Task T084: Modernize button and form styling
  .simone/04_GENERAL_TASKS/T084_modernize_button_form_styling.md
  specs/Apple Health Monitor Project Spec.txt
  src/ui/adaptive_date_edit.py
  src/ui/adaptive_multi_select_combo.py
  src/ui/multi_select_combo.py
  src/ui/style_manager.py
Labels: documentation, ui

Task T085: Redesign tab navigation with modern styling
  .simone/04_GENERAL_TASKS/T085_redesign_tab_navigation.md
  src/ui/style_manager.py
  src/ui/trophy_case_widget.py
Labels: documentation, ui

Task T086: Implement modern shadow system and card layouts
  .simone/04_GENERAL_TASKS/T086_implement_modern_shadow_system.md
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/monthly_dashboard_widget.py
  src/ui/style_manager.py
  src/ui/summary_cards.py
  src/ui/trophy_case_widget.py
  src/ui/weekly_dashboard_widget.py
Labels: documentation, ui

close out UI tasks
  .simone/00_PROJECT_MANIFEST.md
  .simone/04_GENERAL_TASKS/TX083_modernize_color_palette_system.md
  .simone/04_GENERAL_TASKS/TX084_modernize_button_form_styling.md
  .simone/04_GENERAL_TASKS/TX085_redesign_tab_navigation.md
  .simone/04_GENERAL_TASKS/TX086_implement_modern_shadow_system.md
Labels: documentation

UI debugging
  DUPLICATE_PREVENTION_SUMMARY.md
  STREAMLINED_IMPORT_SUMMARY.md
  UI_IMPROVEMENTS_SUMMARY.md
  specs/Apple Health Monitor Project Spec.txt
  src/data_loader.py
  src/database.py
  src/ui/charts/calendar_heatmap.py
  src/ui/charts/enhanced_line_chart.py
  src/ui/charts/line_chart.py
  src/ui/charts/pyqtgraph_chart_factory.py
  src/ui/charts/qpainter_chart_widget.py
  src/ui/comparative_visualization.py
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/dashboards/dashboard_customization.py
  src/ui/dialog_animations.py
  src/ui/import_progress_dialog.py
  src/ui/import_worker.py
  src/ui/main_window.py
  src/ui/metric_comparison_view.py
  src/ui/monthly_dashboard_widget_modern.py
  src/ui/style_manager.py
  src/ui/summary_cards.py
  src/ui/weekly_dashboard_widget.py
  src/xml_streaming_processor.py
  test_daily_tab.py
  test_import_flow.py
  test_modern_dialogs.py
Labels: documentation, ui, database

spec: statistical capabilities
  .simone/01_SPECS/STATS.md
Labels: documentation

settings
  .claude/settings.local.json
Labels: none

spec: UI/UX
  .simone/01_SPECS/UI_SPECS.md
  CONTRIBUTING.md
  QCOLOR_FIX_SUMMARY.md
  README.md
  UI_BUG_FIXES_SUMMARY.md
Labels: documentation

spec update
  specs/Apple Health Monitor Project Spec.txt
Labels: none

UI debugging
  .simone/04_GENERAL_TASKS/UI_WEEKLY_TAB.md
  IMPORT_FUNCTIONALITY_FIX_SUMMARY.md
  docs/development_workflow.md
  src/ui/charts/calendar_heatmap.py
  src/ui/charts/enhanced_line_chart.py
  src/ui/charts/interactions/wsj_tooltip.py
  src/ui/configuration_tab.py
  src/ui/configuration_tab_modern.py
  src/ui/daily_dashboard_widget.py
  src/ui/goal_progress_widget.py
  src/ui/goal_progress_widget_modern.py
  src/ui/import_progress_dialog.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/style_manager.py
  src/ui/summary_cards.py
  src/ui/trophy_case_widget.py
  src/ui/weekly_dashboard_widget_modern.py
  test_import_functionality.py
  test_ui_fix.py
Labels: documentation, ui

UI debugging
  src/ui/charts/enhanced_line_chart.py
Labels: ui

spec: gamification update
  .simone/03_SPRINTS/S08_M01_Gamification/T06_S08_gamification_ui.md
Labels: documentation

specs: UI/UX
  .simone/01_SPECS/UI_SPECS.md
Labels: documentation

backend
  specs/Apple Health Monitor Project Spec.txt
Labels: none

UI debugging
  CALENDAR_HEATMAP_FIX.md
  src/ui/charts/calendar_heatmap.py
  src/ui/configuration_tab.py
  src/ui/configuration_tab_modern.py
  src/ui/daily_dashboard_widget.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/summary_cards.py
  src/ui/weekly_dashboard_widget.py
  test_calendar_consistency.py
  test_daily_tab.py
Labels: documentation, ui

ui fixes
  .simone/04_GENERAL_TASKS/G083_CONFIG_TAB_PERFORMANCE_ACTION_PLAN.md
  .simone/06_NOTES/CONFIG_TAB_OPTIMIZATION_REVIEW.md
  .simone/06_NOTES/CONFIG_TAB_PERFORMANCE_ANALYSIS.md
  .simone/06_NOTES/CONFIG_TAB_PERFORMANCE_OPTIMIZATION_STRATEGY.md
  CONFIGURATION_TAB_UI_IMPROVEMENTS.md
  CONFIG_TAB_DATA_SUMMARY.md
  DAILY_DISPLAY_FIX.md
  DAILY_NAVIGATION_FIX.md
  DAILY_PERFORMANCE_OPTIMIZATION.md
  DAILY_TAB_REFRESH_FIX.md
  ERASE_ALL_DATA_FEATURE.md
  ERASE_DATA_BUG_FIX.md
  MONTHLY_TAB_FUTURE_DATA_FIX.md
  NO_DATA_MESSAGE_FIX.md
  VERTICAL_SPACING_FIXES.md
  specs/Apple Health Monitor Project Spec.txt
  src/analytics/background_trend_processor.py
  src/analytics/health_insights_engine.py
  src/filter_config_manager.py
  src/ui/charts/enhanced_line_chart.py
  src/ui/comparative_visualization.py
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/health_insights_widget.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/monthly_dashboard_widget_modern.py
  src/ui/settings_manager.py
  src/ui/style_manager.py
  src/ui/trophy_case_widget.py
  src/ui/week_over_week_widget.py
  src/ui/weekly_dashboard_widget.py
  test_config_tab_refresh.py
  test_daily_display_fix.py
  test_daily_navigation_fix.py
  test_daily_performance.py
  test_daily_tab_refresh_fix.py
  test_no_data_message_fix.py
  test_weekly_debug.py
  test_weekly_tab_fix.py
Labels: documentation, ui, analytics, performance

debugging UI
  .simone/00_PROJECT_MANIFEST.md
  .simone/01_SPECS/DAILY_TAB.md
  .simone/01_SPECS/INSIGHTS_TAB.md
  .simone/01_SPECS/RECORDS.md
  .simone/01_SPECS/WEEKLY_TAB.md
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T01_S06_database_schema_implementation.md
  .simone/04_GENERAL_TASKS/GX083_CONFIG_TAB_PERFORMANCE_ACTION_PLAN.md
  COMPARATIVE_ANALYTICS_FIXES.md
  CONFIG_TAB_PERFORMANCE_OPTIMIZATION_PHASE1.md
  DYNAMIC_METRICS_IMPLEMENTATION.md
  MONTHLY_HISTORICAL_DATA_FIX.md
  TREND_CALCULATION_FIX.md
  debug_daily_data.py
  fix_weekly_tab_minimal.py
  specs/Apple Health Monitor Project Spec.txt
  src/analytics/background_trend_processor.py
  src/analytics/comparative_analytics.py
  src/analytics/daily_metrics_calculator.py
  src/analytics/monthly_metrics_calculator.py
  src/data_loader.py
  src/database.py
  src/ui/comparative_visualization.py
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/weekly_dashboard_widget.py
  test_daily_data_loading.py
  test_weekly_comprehensive.py
  test_weekly_data_flow.py
Labels: documentation, ui, analytics, database

future planning
  specs/Apple Health Monitor Project Spec.txt
Labels: none

spec: compare tab
  .simone/01_SPECS/COMPARE_TAB.md
Labels: documentation

ui debugging
  CALENDAR_DATE_MAPPING_FIX.md
  SOURCE_SPECIFIC_METRICS_IMPLEMENTATION.md
  SOURCE_SPECIFIC_MONTHLY_UPDATE.md
  check_schema.py
  check_sources.py
  populate_test_sources.py
  src/analytics/background_trend_processor.py
  src/ui/charts/calendar_heatmap.py
  src/ui/main_window.py
  src/ui/monthly_dashboard_widget.py
  src/ui/trophy_case_widget.py
  test_source_specific_monthly.py
Labels: documentation, ui, analytics

specs: UI/UX
  .simone/03_SPRINTS/S06_M01_Journal_Feature/T02_S06_journal_editor_component.md
  .simone/03_SPRINTS/S08_M01_Gamification/S08_sprint_meta.md
  .simone/03_SPRINTS/S08_M01_Gamification/T06_S08_gamification_ui.md
Labels: documentation

task notes
  specs/Apple Health Monitor Project Spec.txt
Labels: none
