Repository AlexFiliakov/iQuest, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, analytics, database, tests, ci, dependencies, performance, security

complete milestone S07: create file
  .simone/03_SPRINTS/S07_M01_Packaging/TX08_S07_testing_validation.md
  PROJECT_REVIEW_S07.md
Labels: documentation

fix bugs
  .simone/02_REQUIREMENTS/M01_MVP/milestone_meta.md
  build.py
  debug_date_formats.py
  docs/conf.py
  docs/development/architecture.rst
  docs/examples/basic-usage.rst
  docs/license.rst
  fix_database_dates_batch.py
  fix_existing_database_dates.py
  fix_xml_date_format.py
  src/config.py
  src/database.py
  src/ui/activity_timeline_component.py
  src/ui/bar_chart_component.py
  src/ui/charts/bump_chart.py
  src/ui/charts/chart_renderer_factory.py
  src/ui/charts/matplotlib_chart_factory.py
  src/ui/charts/small_multiples.py
  src/ui/charts/stream_graph.py
  src/ui/charts/trend_visualization.py
  src/ui/charts/waterfall_chart.py
  src/ui/configuration_tab.py
  src/ui/correlation_matrix_widget.py
  src/ui/daily_trend_indicator.py
  src/ui/health_score_visualizations.py
  src/ui/monthly_context_widget.py
  src/version.py
  src/xml_streaming_processor.py
  version_info.txt
  xml_date_format_patch.txt
Labels: documentation, ui, database

project help file
  specs/Apple Health Monitor Project Spec.txt
Labels: none

remove PyQt5
  build.py
  build_config.json
Labels: none

fixing build EXE
  build.py
  hooks/hook-jaraco.py
  hooks/hook-pkg_resources.py
  hooks/runtime_hooks.py
Labels: none

debugging requirements and build
  NUMPY_VERSION_FIX_SUMMARY.md
  PYINSTALLER_6.14_MIGRATION.md
  PYINSTALLER_CONFIG_UPDATES.md
  build.py
  build_config.json
  hooks/hook-numpy.py
  hooks/hook-pandas.py
  hooks/hook-scipy.py
  hooks/hook-sklearn.py
  requirements-ml.txt
  requirements-test.txt
  requirements.txt
Labels: documentation, dependencies

debugged build
  BUILD_QUICK_START.md
  assets/heart_icon.ico
  assets/heart_icon_128x128.png
  assets/heart_icon_16x16.png
  assets/heart_icon_256x256.png
  assets/heart_icon_32x32.png
  assets/heart_icon_48x48.png
  assets/heart_icon_64x64.png
  build.py
  build_config.json
  build_incremental.bat
  build_incremental.py
  build_minimal.py
  clean_build_force.ps1
  clean_build_windows.bat
  create_heart_icon.py
  fix_logger_error.py
  hooks/hook-cmdstanpy.py
  hooks/hook-prophet.py
  requirements.txt
  specs/Apple Health Monitor Project Spec.txt
  src/analytics/advanced_trend_engine.py
  src/main.py
  test_direct_import.py
  test_logger_fix.py
Labels: documentation, analytics, dependencies

project spec notes
  specs/Apple Health Monitor Project Spec.txt
Labels: none

works but portable reads the wrong database
  create_portable_marker.py
  portable.marker
  src/ui/configuration_tab.py
  src/ui/daily_dashboard_widget.py
  src/ui/main_window.py
  src/ui/style_manager.py
  src/ui/weekly_dashboard_widget.py
  test_daily_dashboard_fix.py
  test_menu_bar_fix.py
  test_portable_data_access.py
  test_portable_mode.py
  test_weekly_dashboard_fix.py
  verify_portable_fix.py
Labels: ui

portable still has problems
  debug_portable_db.py
  fix_portable_db_path.py
  src/config.py
  src/database.py
  test_portable_db_path.py
Labels: database

latest portable improvements, need testing
  create_portable_marker.py
  src/analytics/weekly_metrics_calculator.py
  src/ui/daily_dashboard_widget.py
  test_daily_dashboard_fix.py
  test_portable_data_access.py
  test_portable_mode.py
  verify_portable_fix.py
Labels: ui, analytics

displaying, but daily stats are not loading
  create_portable_marker.py
  portable_mode_fixed.txt
  src/analytics/weekly_metrics_calculator.py
  src/ui/daily_dashboard_widget.py
  test_daily_dashboard_fix.py
  test_portable_data_access.py
Labels: ui, analytics

still not displaying data in Portable Daily Tab
  create_portable_marker.py
  debug_daily_data.py
  fix_daily_dashboard_dates.py
  portable_mode_fixed.txt
  src/analytics/weekly_metrics_calculator.py
  src/ui/daily_dashboard_widget.py
  test_daily_dashboard_fix.py
  test_portable_data_access.py
Labels: ui, analytics

using startDate instead of creationDate, other bug fixes. Portable EXE Daily Tab is still now working.
  .simone/04_GENERAL_TASKS/GX002_implement_csv_data_loader.md
  .simone/05_ARCHITECTURAL_DECISIONS/ADR-002-Data-Processing-Architecture.md
  docs/testing_guide.md
  fix_daily_dashboard_dates.py
  parse.ipynb
  src/analytics/background_trend_processor.py
  src/analytics/cached_calculators.py
  src/analytics/daily_metrics_calculator.py
  src/analytics/data_source_protocol.py
  src/analytics/dataframe_adapter.py
  src/analytics/weekly_metrics_calculator.py
  src/data_filter_engine.py
  src/data_loader.py
  src/database.py
  src/statistics_calculator.py
  src/ui/charts/export/pdf_export_thread.py
  src/ui/comparative_visualization.py
  src/ui/daily_dashboard_widget.py
  src/ui/main_window.py
  src/ui/weekly_dashboard_widget.py
  src/xml_streaming_processor.py
Labels: documentation, ui, analytics, database, performance

portable EXE still doesn't load Daily Tab data
  menu_bar_fix_summary.txt
  src/ui/daily_dashboard_widget.py
  src/ui/main_window.py
  src/ui/style_manager.py
  src/ui/weekly_dashboard_widget.py
  test_daily_dashboard_fix.py
  test_portable_db_path.py
Labels: ui

improved icon, but still need to set layer dimensions in GIMP
  assets/heart_icon.ico
  assets/heart_icon_128x128.png
  assets/heart_icon_16x16.png
  assets/heart_icon_256x256.png
  assets/heart_icon_32x32.png
  assets/heart_icon_48x48.png
  assets/heart_icon_64x64.png
  assets/icon.ico
  assets/icon.xcf
  assets/icon_128x128.png
  assets/icon_16x16.png
  assets/icon_256x256.png
  assets/icon_32x32.png
  assets/icon_48x48.png
  assets/icon_64x64.png
Labels: none

portable EXE still isn't working
  build_config.json
  create_heart_icon.py
  specs/Apple Health Monitor Project Spec.txt
  src/ui/daily_dashboard_widget.py
Labels: ui

Add enhanced logging to diagnose portable EXE data loading issue
  src/ui/daily_dashboard_widget.py
Labels: ui

additional logging
  src/ui/daily_dashboard_widget.py
Labels: ui

fixed icon
  assets/icon.ico
  assets/icon.xcf
Labels: none

got portable EXE working!
  src/analytics/data_source_protocol.py
  src/ui/daily_dashboard_widget.py
  test_portable_db_access.py
Labels: ui, analytics

cover
  assets/iQuest-cover.png
  assets/iQuest-cover.xcf
Labels: none

README
  README.md
Labels: documentation

.github/labeler.yml:

# Add labels to PRs based on file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - README.md
      - '**/*.md'

ui:
  - changed-files:
    - any-glob-to-any-file:
      - src/ui/**
      - tests/ui/**

analytics:
  - changed-files:
    - any-glob-to-any-file:
      - src/analytics/**
      - tests/unit/test_*analytics*.py

database:
  - changed-files:
    - any-glob-to-any-file:
      - src/database.py
      - src/health_database.py
      - src/data_*.py
      - tests/unit/test_database*.py

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - conftest.py
      - pytest.ini

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - .pre-commit-config.yaml
      - Dockerfile
      - docker-compose.yml

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements*.txt
      - pyproject.toml
      - setup.py
      - setup.cfg

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*.py'
      - '**/*performance*.py'
      - '**/*cache*.py'
      - tests/performance/**

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*auth*.py'
      - '**/*security*.py'
      - .github/workflows/security.yml
